
body{
  padding: 10px;
}
/* NAVBAR STYLING */


.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.link, li {
  float: left;
}

.link , li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link, li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.title{
  margin: 0 auto;
}

.selected{
  height: 400px;
}

.icon-trash{
  position: absolute;
  right: 10px;
}
.image {
height: 200px;
width: 200px;
}
.pic{
  max-width: 95%;
  max-height: 90%;
}
