
body{
  padding: 10px;
}
/* NAVBAR STYLING */


.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  width: 100%;
  font-size: 30px;
  font-family: didact gothic;
}

.link, li {
  float: left;
}

.link , li a {
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1, h2, p, li, .meta, #pn {
  font-family: didact gothic;
}


.active {
  background-color: lightcoral;
}

.title{
  margin: 0 auto;
}

.selected{
  height: 400px;
}

.icon-trash{
  position: absolute;
  right: 10px;
}

body{
  background-color:white;
}

.title-home{
  text-align: center;
  font-size:200px;
}

.home{
  margin-top:200px;
display:flex;
 

}

.tag{
  font-size:20px;
}

.form{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-top: -150px;
    margin-left: -200px;
  
}
.party-img{
  width:50%
}


.image{
  max-height:250px;
  object-fit: cover;
}

.suggested{
  margin-top: 100px;
  margin-bottom: 100px;
}

.event-info{
  margin-top:50px;
}

.pname{
  font-size: 40px;
}
.up{
  margin-top: 50px;
}
#grid {
  margin-left: 5rem;
}
.info {
  font-weight: bold;
  color: lightcoral;
}

 .ui.card>.extra a:not(.ui), .ui.cards>.card>.extra a:not(.ui) {
  font-weight: bold;
  color: black
}